!!! 5
%html{ html_attributes }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, viewport-fit=cover' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/
      %meta{ name: 'cdn-host', content: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    - SiteUpload::FAVICON_SIZES.each do |size|
      %link{ rel: 'icon', sizes: "#{size}x#{size}", href: favicon_path(size.to_i) || frontend_asset_path("icons/favicon-#{size}x#{size}.png"), type: 'image/png' }/

    - SiteUpload::APPLE_ICON_SIZES.each do |size|
      %link{ rel: 'apple-touch-icon', sizes: "#{size}x#{size}", href: app_icon_path(size.to_i) || frontend_asset_path("icons/apple-touch-icon-#{size}x#{size}.png") }/

    - if use_mask_icon?
      %link{ rel: 'mask-icon', href: frontend_asset_path('images/logo-symbol-icon.svg'), color: '#6364FF' }/
    %link{ rel: 'manifest', href: manifest_path(format: :json) }/
    = javascript_inline_tag 'theme-selection.js'
    = theme_color_tags color_scheme
    %meta{ name: 'mobile-web-app-capable', content: 'yes' }/

    %title= html_title

    %meta{ name: 'current-theme', content: current_theme }/

    = theme_style_tags current_theme
    = vite_client_tag
    = vite_react_refresh_tag
    = vite_polyfills_tag
    = vite_stylesheet_tag 'styles/entrypoints/inert.scss', media: 'all', id: 'inert-style', crossorigin: 'anonymous'
    = vite_typescript_tag 'common.ts', crossorigin: 'anonymous'

    = vite_preload_file_tag "mastodon/locales/#{I18n.locale}.json"
    = csrf_meta_tags unless skip_csrf_meta_tags?
    %meta{ name: 'style-nonce', content: request.content_security_policy_nonce, property: 'csp-nonce', nonce: request.content_security_policy_nonce }

    = custom_stylesheet

    - if current_theme == 'custom-theme'
      -# 1. 데이터베이스에서 배경 이미지 URL 선언 및 기본 PNG 매핑
      - bg_light_upload = SiteUpload.find_by(var: 'custom_background_light')
      - bg_light_url = bg_light_upload&.file? ? full_asset_url(bg_light_upload.file.url) : nil
      - bg_light_final = bg_light_url.presence || frontend_asset_path('images/custom-bg-light.png')

      - bg_dark_upload = SiteUpload.find_by(var: 'custom_background_dark')
      - bg_dark_url = bg_dark_upload&.file? ? full_asset_url(bg_dark_upload.file.url) : nil
      - bg_dark_final = bg_dark_url.presence || frontend_asset_path('images/custom-bg-dark.png')
      
      -# 2. 데이터베이스에서 로고 이미지 URL 선언 및 기본 PNG 매핑
      - logo_light_upload = SiteUpload.find_by(var: 'custom_logo_light')
      - logo_light_url = logo_light_upload&.file? ? full_asset_url(logo_light_upload.file.url) : nil
      - logo_light_final = logo_light_url.presence || frontend_asset_path('images/custom-wordmark-light.png')

      - logo_dark_upload = SiteUpload.find_by(var: 'custom_logo_dark')
      - logo_dark_url = logo_dark_upload&.file? ? full_asset_url(logo_dark_upload.file.url) : nil
      - logo_dark_final = logo_dark_url.presence || frontend_asset_path('images/custom-wordmark-dark.png')

      -# 3. 데이터베이스에서 아이콘 이미지 URL 선언 및 기본 PNG 매핑
      - icon_light_upload = SiteUpload.find_by(var: 'custom_icon_light')
      - icon_light_url = icon_light_upload&.file? ? full_asset_url(icon_light_upload.file.url) : nil
      - icon_light_final = icon_light_url.presence || frontend_asset_path('images/custom-icon-light.png')

      - icon_dark_upload = SiteUpload.find_by(var: 'custom_icon_dark')
      - icon_dark_url = icon_dark_upload&.file? ? full_asset_url(icon_dark_upload.file.url) : nil
      - icon_dark_final = icon_dark_url.presence || frontend_asset_path('images/custom-icon-dark.png')
      
      -# 4. 색상 설정 로드
      - brand_light = Setting.chamomile_brand_light.presence || '#94ca16'
      - text_on_brand_light = Setting.chamomile_text_on_brand_light.presence || '#ffffff'
      - bg_light = Setting.chamomile_bg_light.presence || '#fffef7'
      - panel_light = Setting.chamomile_panel_light.presence || '#ffffff'
      - text_light = Setting.chamomile_text_light.presence || '#303030'
      
      - brand_dark = Setting.chamomile_brand_dark.presence || '#ffdb63'
      - text_on_brand_dark = Setting.chamomile_text_on_brand_dark.presence || '#6a3f00'
      - bg_dark = Setting.chamomile_bg_dark.presence || '#1e2028'
      - panel_dark = Setting.chamomile_panel_dark.presence || '#43433e'
      - text_dark = Setting.chamomile_text_dark.presence || '#ffffff'

      %style{ nonce: request.content_security_policy_nonce }
        :plain
          :root {
            --admin-brand-light: #{brand_light};
            --admin-text-on-brand-light: #{text_on_brand_light};
            --admin-bg-light: #{bg_light};
            --admin-panel-light: #{panel_light};
            --admin-text-light: #{text_light};

            --admin-brand-dark: #{brand_dark};
            --admin-text-on-brand-dark: #{text_on_brand_dark};
            --admin-bg-dark: #{bg_dark};
            --admin-panel-dark: #{panel_dark};
            --admin-text-dark: #{text_dark};

            --custom-background-light: url('#{bg_light_final}');
            --custom-background-dark: url('#{bg_dark_final}');
            --custom-logo-light: url('#{logo_light_final}');
            --custom-logo-dark: url('#{logo_dark_final}');
            --custom-icon-light: url('#{icon_light_final}');
            --custom-icon-dark: url('#{icon_dark_final}');
          }
    = yield :header_tags

  %body{ class: body_classes }
    = content_for?(:content) ? yield(:content) : yield

    .logo-resources{ 'tabindex' => '-1', 'inert' => true, 'aria-hidden' => 'true' }
      = inline_svg_tag 'logo-symbol-icon.svg'
      = inline_svg_tag 'logo-symbol-wordmark.svg'